{
    "extends": "airbnb",
    "rules": {
       "no-set-state": "off",
       "indent": ["error", 4],
       "no-alert": "off",
       "no-console": "off",
       "arrow-parens": ["error", "as-needed"],
       "camelcase": "off",
       "newline-per-chained-call": "off",
       "func-names": "off",
       "no-else-return": "off"
    },
    "globals": {
        "$": true,
        "GM_addStyle": true,
        "PRO_addStyle": true,
        "addStyle": true,
        "document": true,
        "localStorage": true,
        "top": true
    }
}